# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.venv/
venv/
env/

# Type checkers
.mypy_cache/
.pyright/

# Editores
.vscode/
.idea/

# macOS
.DS_Store

# Linux
*~

# Testes locais
testes/